<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blumenkranz Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Blumenkranz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BlumenkranzResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E37F12218C8F734000BD94B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E37F13218C8F734000BD94B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EA8DAF318C8FCB200F04908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EA8DAFD18C8FEB400F04908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
